body {
    font-family: 'Rubik', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
    background-color: #333F50;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    color: white;
    padding-left: 20px;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1200px; /* Ajusta según tu diseño */
  }

.logo {
    display: flex; /* Utilizar flexbox para alinear elementos en la misma línea */
    align-items: center; /* Alinear verticalmente los elementos */
}

.logo img {
    width: 50px;
    height: 50px;
}

.logo h1 {
    font-size: 60px;
    margin-left: 10px;
    color: white; /* Espacio entre el logo y el texto */
}

.navigation {
    display: flex;
    justify-content: space-between;
    background-color: #333F50; /* Cambia el color de fondo según tus preferencias */
    padding: 35px;
    width: 100%;
    box-sizing: border-box;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navigation li {
    margin-right: 120px; /* Ajusta el espacio entre elementos según tus preferencias */
}

.navigation a {
    text-decoration: none;
    color: white; /* Cambia el color del texto según tus preferencias */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
}

.welcome-message {
    margin-top: 20px;
    color: white;
    text-align: left;
    padding-left: 20px;
    width: 100%; /* Asegurarse de que ocupe el 100% del ancho */
    box-sizing: border-box;
    font-size: 25px;
}

.mensaje-app {
    margin-top: 20px;
    color: white;
    text-align: right;
    padding-right: 20px;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
}

.visual {
    margin-top: 20px;
    align-self: flex-start;
    display: flex;
    align-items: center;
}

.visual img {
    width: 240px;
    height: 500px;
    margin-right: 10px;
}

.matrix {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-between; /* Distribuye las columnas uniformemente */
    box-sizing: border-box;
}

.matrix div {
    display: flex;
    flex-direction: column;
    margin-right: 10px; /* Espaciado entre las columnas */
}

.matrix div:first-child {
    margin-right: 30px; /* Ajusta el espacio entre la columna 1 y la columna 2 */
}

.matrix img {
    width: 140px;
    height: 220px;
    margin-right: 10px;
}

.v-line {
    border-left: thick solid #fffdfd;
    height: 60%;
    left: 50%;
    position: absolute;
}

.columna1 {
    width: 900px; /* Puedes ajustar este valor según tus necesidades */
    padding: 10px;
    box-sizing: border-box;
}
  
.columna2 {
    width: 30px; /* Puedes ajustar este valor según tus necesidades */
    padding: 10px;
    box-sizing: content-box;
}
  
.columna3 {
    width: calc(100% - 500px); /* El ancho total - suma de anchos de otras columnas */
    padding: 10px;
    box-sizing: border-box;
}

.hidden {
    display: none;
  }

.boton-si {
    padding: 15px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}

.info-adicional {
    margin-top: 20px;
}

.iconos {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-top: 10px;
}

.icono_web {
    width: 100px; /* Ajusta el ancho del icono */
    height: 100px; /* Ajusta la altura del icono */
    margin-right: 10px;
}

.icono_encuesta {
    width: 110px; /* Ajusta el ancho del icono */
    height: 110px; /* Ajusta la altura del icono */
    margin-right: 10px;
}

.boton-icono {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    padding: 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    font-weight: bold;
    font-size: 20px;
  }

.boton-icono-container {
    display: flex;
    align-items: center;
}

.imagen-mood {
    width: 180px; /* Ajusta el tamaño según tus preferencias */
    height: auto; /* Mantiene la proporción original */
    border: 2px solid transparent; /* Inicialmente, sin borde */
    transition: border 0.3s ease; /* Efecto de transición para el borde */
}

.imagen-seleccionada {
    border-color: #007bff;
    border-width: 5px;
}

.confirmar-boton {
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.boton_genero {
    padding: 10px;
    margin: 5px;
    border: none;
    color: rgb(0, 0, 0);
    transition: background-color 0.3s ease;
    width: 300px; /* Puedes ajustar el ancho según tus preferencias */
    height: 60px; /* Puedes ajustar la altura según tus preferencias */
    font-size: 20px;
}


.boton_genero:active {
    background-color:cornflowerblue; /* Tu color deseado cuando se hace clic */;
}

.cuadro-grande {
    background-color: #A5A5A5; /* Color de fondo del cuadro grande */
    padding: 20px; /* Espaciado interno del cuadro grande */
    margin-top: 20px; /* Margen superior para separar del encabezado */
    border-radius: 15px;
    color: #333;
}

.cuadro-grande ol {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el espaciado interno de la lista */
}

.cuadro-grande li {
    margin-bottom: 10px; /* Espaciado entre elementos de la lista */
    font-size: 18px; /* Tamaño de fuente de los elementos de la lista */
}

.contenido {
    margin-left: 20px; /* Margen izquierdo para el contenido */
    text-align: left;
}


.containercw {
    margin-top: 50px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.containercw {
    margin-top: 50px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.columncw {
    flex: 1;
    max-width: 100%; /* Aumenté el tamaño máximo de las columnas */
    margin: 15px;
}

.rowcw {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    align-items: center;
}

.rowcw img {
    max-width: 400%; /* Aumenté el tamaño de las imágenes en un 30% */
    height: auto;
    max-height: 500px;
}
.boton-defecto{
    margin-top: 10px;
    font-size: medium;
    padding: 20px;
    background-color: #6495ed;
    color: black;
    border: none;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
}

.boton-defecto:disabled{
    background-color: #777;
}
.buttoncw {
    background-color: #007bff;
    color: #fff;
    padding: 15px; /* Aumenté el tamaño del padding de los botones */
    border: none;
    cursor: pointer;
    width: 80%;
}

.emptyColumn {
    flex: 1;
    max-width: 20%; /* Aumenté el tamaño máximo de la columna vacía */
    margin: 15px;
}


.containerpl {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

/* Cambiado de column a columnpl */
.columnpl {
    flex: 1;
    max-width: 30%;
    margin: 15px;
    text-align: center;
}

.cuadro-grande {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
}

/* Cambiado de buttonpl a botonpl */
.botonpl {
    background-color: #007bff;
    color: #fff;
    padding: 15px;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    margin-top: 10px;
}

/* Agregado para separar los botones de la segunda columna */
.buttonSeparado {
    margin-right: 20px;
}