include *.txt
include *.md
include *.pkl
recursive-include ./model/*

include model/config/*
include model/datasets/df_spotify.csv
include model/trained/*.pkl
include model/config.yml

include ./requirements/requirements.txt
include ./requirements/test_requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]